header {
  background-color: $text-dark;
  .header {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // @include flexBox(space-between, center);
    @include flexBox(space-between);
    height: 80px;
    h1 {
      color: $text-white;
      font-size: 3rem;
      @include for-phone-only {
        font-size: 1rem;
      }
      &::after {
      }
    }
    nav {
      ul {
        display: flex;
        gap: 1rem;
        li {
          a {
            color: $text-white;
          }
        }
      }
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .btns {
      button {
        padding: 1rem 2rem;
        color: orange;
        background-color: orange;
        cursor: pointer;
        border: 2px solid orange;
        border-radius: 0.5rem;
        color: $text-white;
        transition: all 1s;

        &:hover {
          background-color: transparent;
          color: orange;
        }
        &.login {
          @extend %primary-btn;
          // width: 100px;
        }
      }

      //   button:hover{

      //   }

      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    .menu {
      display: none;
      .fa-bars {
        color: $text-white;
      }

      @media only screen and (max-width: 767px) {
        display: block;
      }
    }
  }
}
